<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>EbeeStore</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../static/css/slick.css" th:href="@{/css/slick.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/slick-theme.css" th:href="@{/css/slick-theme.css}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../static/css/nouislider.min.css" th:href="@{/css/nouislider.min.css}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
    <!--    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <!-- ![endif]-->
    <link type="text/css" href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <link type="text/css" href="../static/css/login-register.css" rel="stylesheet" th:href="@{/css/login-register.css}"/>
    <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

</head>
<body>
<!--Login box-->
<div class="container">
    <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Đăng nhập với with</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="social">
                                <a id="google_login" class="circle google" th:href="@{/}">
                                    <i class="fa fa-google-plus fa-fw"></i>
                                </a>
                                <a id="facebook_login" class="circle facebook" th:href="@{/}">
                                    <i class="fa fa-facebook fa-fw"></i>
                                </a>
                            </div>
                            <div class="division">
                                <div class="line l"></div>
                                <span>or</span>
                                <div class="line r"></div>
                            </div>
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form method="POST" th:action="@{/homepage}" accept-charset="UTF-8">
                                    <input class="form-control" type="text" placeholder="Tên đăng nhập" name="username">
                                    <input class="form-control" type="password" placeholder="Mật khẩu" name="password">
                                    Remember Me:
                                    <input type="checkbox" name="remember-me" />
                                    <input class="btn btn-default btn-login" type="submit" value="Login">
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                            <div class="form">
                                <form method="POST" th:action="@{/register}" accept-charset="UTF-8">
                                    <input class="form-control" type="text" placeholder="Tên đăng nhập" th:name="username">
                                    <input class="form-control" type="password" placeholder="Mật khẩu" th:name="password">
                                    <input class="form-control" type="text" placeholder="Họ và tên" name="fullname">
                                    <input id="email" class="form-control" type="text" placeholder="Email" th:name="email">
                                    <input class="form-control" type="text" placeholder="Số điện thoại" th:name="sdt">
                                    <input class="form-control" type="text" placeholder="Địa chỉ" th:name="address">
                                    <input class="btn btn-default btn-register" type="submit" value="Đăng ký" name="commit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
	                            <span>
	                                 <a href="javascript: showRegisterForm();">Tạo tài khoản mới</a>
	                            ?</span>
                    </div>
                    <div class="forgot register-footer" style="display:none">
                        <span>Bạn đã có tài khoản chưa?</span>
                        <a href="javascript: showLoginForm();">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Login box-->

<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-envelope-o"></i> estore@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 263 Giải Phóng</a></li>
            </ul>
            <ul class="header-links pull-right">
                <th:block th:if="${#request.userPrincipal != null}">
                    <li><a data-toggle="modal" onclick="openLoginModal();"><i class="fa fa-user-o"></i><th:block th:text="${#request.userPrincipal.name}"></th:block></a></li>
                    <li>
                        <form th:action="@{/logout}" method="POST">
                            <button type="submit" class="btn btn-link" style="color: white">Đăng xuất</button>
                        </form>
                    </li>
                </th:block>
                <th:block th:if="${#request.userPrincipal == null}">
                    <li><a data-toggle="modal" onclick="openLoginModal();"><i class="fa fa-user-o"></i>Đăng nhập</a></li>
                </th:block>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a th:href="@{/homepage}" class="logo">
                            <img th:src="@{/image/logo2.png}" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form th:action="@{/product/search}" method="get">
                            <input class="input" th:name="phone_name" placeholder="Nhập tên sản phẩm">
                            <button class="search-btn">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <!-- <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Your Wishlist</span>
                                <div class="qty">2</div>
                            </a>
                        </div> -->
                        <!-- /Wishlist -->

                        <!-- Cart -->

                        <th:block th:if="${#request.userPrincipal != null}">
                            <div class="dropdown">
                                <a th:href="@{/{user}/cart(user=${#request.userPrincipal.name})}">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>
                                    <!--                                    <div class="qty">3</div>-->
                                </a>
                            </div>
                        </th:block>
                        <th:block th:if="${#request.userPrincipal == null}">
                            <div class="dropdown">
                                <a th:href="@{/anonymous/cart}">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>
                                </a>
                            </div>
                        </th:block>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a th:href="@{/}">Trang chủ</a></li>
                <li><a th:href="@{/product(sort=0)}">Sản phẩm</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a th:href="@{/}">Trang chủ</a></li>
                    <th:block th:if="${#request.userPrincipal != null}">
                        <li>
                            <a th:href="@{/{user}/cart(user=${#request.userPrincipal.name})}">Giỏ hàng</a>
                        </li>
                        <li class="active">
                            <a th:href="@{/{user}/checkout(user=${#request.userPrincipal.name})}">Đặt hàng</a>
                        </li>
                    </th:block>
                    <th:block th:if="${#request.userPrincipal == null}">
                        <li>
                            <a th:href="@{/anonymous/cart}">Giỏ hàng</a>
                        </li>
                        <li class="active">
                            <a th:href="@{/anonymous/checkout}">Đặt hàng</a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->


<div align="center">
    <th:block th:if="${#request.userPrincipal != null}">
        <form th:action="@{/{user}/checkout(user=${#request.userPrincipal.name})}" method="post">
            <table id="tableCheckout" class="table table-striped custab" style="width: 75%">
                <tr>
                    <td style=" width: 15%"><h4>Họ và tên:</h4></td>
                    <td style=" width: 25%"><input type="text" name="name_user" th:value="${user.name}"></td>
                </tr>
                <tr>
                    <td><h4>Số điện thoại:</h4></td>
                    <td><input type="text" name="phone_user" th:value="${user.sdt}"></td>
                </tr>
                <tr>
                    <td><h4>Email:</h4></td>
                    <td><input type="text" name="email_user" th:value="${user.email}"></td>
                </tr>
                <tr>
                    <td><h4>Địa chỉ:</h4></td>
                    <td><textarea name="address_user" cols="50" rows="3"><th:block th:text="${user.address}"></th:block></textarea></td>
                </tr>
                <tr>
                    <td style=" width: 20%"><h4>Hình thức thanh toán:</h4></td>
                    <td style=" width: 25%"><input type="radio" name="payment" value="Chuyển khoản" required>Chuyển khoản</td>
                    <td style=" width: 30%"><input type="radio" name="payment" value="Thanh toán trực tiếp" required>Thanh toán trực tiếp</td>
                </tr>
                <tr style="background-color: #6E83CD">
                    <td style=" width: 20%"></td>
                    <td style=" width: 25%">Tên sản phẩm</td>
                    <td style=" width: 30%">Giá</td>
                    <td style=" width: 25%">Số lượng</td>
                </tr>
                <th:block th:each="cart:${cart.getEcarts()}">
                    <tr>
                        <td style="width:20%;height: 50px"><img th:src="@{${cart.getPhone().getImages().get(0).url}}" width="65%"/></td>
                        <td th:text="${cart.getPhone().name}" style="width: 25%"></td>
                        <td style="width: 30%">
                            <input type="text" class="gia" th:value="${cart.getPhone().price}" readonly>
                        </td>
                        <td style="width: 25%">
                            <input type="text" class="soLuong" th:value="${cart.quantity}" readonly>
                        </td>
                    </tr>
                </th:block>
                <input type="hidden" name="id_cart" th:value="${cart.id}">
                <tr>
                    <td><input type="hidden" name="price_cart" th:value="${amount}"></td>
                    <td><input type="hidden" name="dathang" value="1"></td>
<!--                    <td>Tổng tiền:<input type="text" name="price_cart" th:value="${amount}" readonly> VNĐ</td>-->
                    <td><p id="total"></p></td>
                    <td><input type="submit" value="Xác nhận"></td>
                </tr>
            </table>
        </form>
    </th:block>
    <th:block th:if="${#request.userPrincipal == null}">
        <form th:action="@{/anonymous/checkout}" method="post">
            <table id="tableCheckout" class="table table-striped custab" style="width: 75%">
                <tr>
                    <td style=" width: 15%"><h4>Họ và tên:</h4></td>
                    <td style=" width: 25%"><input type="text" name="name_user" th:value="${user.name}"></td>
                </tr>
                <tr>
                    <td><h4>Số điện thoại:</h4></td>
                    <td><input type="text" name="phone_user" th:value="${user.sdt}"></td>
                </tr>
                <tr>
                    <td><h4>Email:</h4></td>
                    <td><input type="text" name="email_user" th:value="${user.email}"></td>
                </tr>
                <tr>
                    <td><h4>Địa chỉ:</h4></td>
                    <td><textarea name="address_user" cols="50" rows="3"><th:block th:text="${user.address}"></th:block></textarea></td>
                </tr>
                <tr>
                    <td style=" width: 15%"><h4>Hình thức thanh toán:</h4></td>
                    <td style=" width: 25%"><input type="radio" name="payment" value="Chuyển khoản" required>Chuyển khoản</td>
                    <td style=" width: 25%"><input type="radio" name="payment" value="Thanh toán trực tiếp" required>Thanh toán trực tiếp</td>
                </tr>
                <tr style="background-color: #6E83CD">
                    <td style=" width: 20%"></td>
                    <td style=" width: 25%">Tên sản phẩm</td>
                    <td style=" width: 30%">Giá</td>
                    <td style=" width: 25%">Số lượng</td>
                </tr>
                <th:block th:each="cart:${cart.getEcarts()}">
                    <tr>
                        <td style="width:20%;height: 50px"><img th:src="@{${cart.getPhone().getImages().get(0).url}}" width="65%"/></td>
                        <td th:text="${cart.getPhone().name}" style="width: 25%"></td>
                        <td style="width: 30%">
                            <input type="text" class="gia" th:value="${cart.getPhone().price}" readonly>
                        </td>
                        <td style="width: 25%">
                            <input type="text" class="soLuong" th:value="${cart.quantity}" readonly>
                        </td>
                    </tr>
                </th:block>
                <input type="hidden" name="id_cart" th:value="${cart.id}">
                <tr>
                    <td><input type="hidden" name="price_cart" th:value="${amount}"></td>
                    <td><input type="hidden" name="dathang" value="1"></td>
                    <!--                    <td>Tổng tiền:<input type="text" name="price_cart" th:value="${amount}" readonly> VNĐ</td>-->
                    <td><p id="total"></p></td>
                    <td><input type="submit" value="Xác nhận"></td>
                </tr>
            </table>
        </form>
    </th:block>

</div>
<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3>

                        <ul class="footer-links">
                            <li><i class="fa fa-map-marker"></i>263 Giải Phóng</li>
                            <li><i class="fa fa-phone"></i>033654888</li>
                            <li><i class="fa fa-envelope-o"></i>estore@gmail.com</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categories</h3>
                        <ul class="footer-links">
                            <li><a href="#">Smartphone</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <!-- <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Information</h3>
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Orders and Returns</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div> -->

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Service</h3>
                        <ul class="footer-links">
                            <li><a href="#">Trợ giúp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/lovidaminion" target="_blank" style="color: green">Ngoc Quy</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/nouislider.min.js}"></script>
<script th:src="@{/js/jquery.zoom.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<!-- <script type="text/javascript">
    function handleSelect(elm)
    {
        window.location = elm.value+".php";
    }
</script> -->
<!--<script type="text/javascript">-->
<!--    $(document).ready(function(){-->
<!--        openLoginModal();-->
<!--    });-->
<!--</script>-->
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/login-register.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        update();
        // $(".soLuong").change(function(){
        //     update();
            // var quantity;
            // var price;
            // var sum=0;
            // $("#tablePrice >  tbody > tr ").each(function(){
            //     quantity=$(this).find(".soLuong").val();
            //     price=$(this).find(".gia").val();
            //     if (!isNaN(quantity)){
            //         sum+=parseInt(quantity)*parseInt(price) ;
            //     }
            // });
            //
            // document.getElementById("total").innerHTML="Tổng tiền: "+sum+" VNĐ";
        function update(){
            var sum=0;
            var quantity;
            var price;
            $("#tableCheckout >  tbody > tr ").each(function(){
                quantity=$(this).find(".soLuong").val();
                price=$(this).find(".gia").val();
                if (!isNaN(quantity) && !isNaN(price)){
                    sum+=parseInt(quantity)*parseInt(price) ;
                }
            });
            document.getElementById("total").innerHTML="Tổng tiền: "+sum+" VNĐ";
        }
    })
</script>
</body>
</html>
