<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../static/css/slick.css" th:href="@{/css/slick.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/slick-theme.css" th:href="@{/css/slick-theme.css}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../static/css/nouislider.min.css" th:href="@{/css/nouislider.min.css}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}"/>
    <script th:src="@{//code.jquery.com/jquery-1.11.1.min.js}"></script>
    <title>Admin page</title>
</head>
<body>
<!-- TOP HEADER -->
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-envelope-o"></i> estore@gmail.com</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> 263 Giải Phóng</a></li>
        </ul>
        <ul class="header-links pull-right">
            <li><a data-toggle="modal" onclick="openLoginModal();"><i class="fa fa-user-o"></i><th:block th:text="${#request.userPrincipal.name}"></th:block></a></li>
            <li>
                <form th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-link" style="color: white">Đăng xuất</button>
                </form>
            </li>
        </ul>
    </div>
</div>
<!-- /TOP HEADER -->

<!-- MAIN HEADER -->
<div id="header">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- LOGO -->
            <div class="col-md-3">
                <div class="header-logo">
                    <a th:href="@{/homepage}" class="logo">
                        <img th:src="@{/image/logo2.png}" alt="">
                    </a>
                </div>
            </div>
            <!-- /LOGO -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a th:href="@{/admin/qly-dienthoai}">Sản phẩm</a></li>
                <li><a th:href="@{/admin/qly-khachhang}">Khách hàng</a></li>
                <li><a th:href="@{/admin/qly-donhang}">Đơn hàng</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>

<div align="center">
    <h3>Edit phone:<th:block th:text="${phone.name}"></th:block></h3>
    <form th:action="@{/admin/qly-dienthoai/edit}" onsubmit="return confirm('Are you sure to want edit this phone?')" method="post">
        <table  border="1" class="table table-striped custab" style="width:60%">
            <tr>
                <td width="20%" style="background-color: #B9BABC">Name</td>
                <td width="80%"><input type="text" name="name" th:value="${phone.name}" required></td>
            </tr>
            <tr>
                <td width="20%" style="background-color: #B9BABC">Price</td>
                <td><input type="text" name="price" th:value="${phone.price}" required></td>
            </tr>
            <tr>
                <td width="20%" style="background-color: #B9BABC">Producer</td>
                <td>
                    <select name="producer" required>

                        <th:block th:each="p:${producer}">
                            <option th:value="${p.name}"><p th:text="${p.name}"></p></option>
                        </th:block>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="20%" style="background-color: #B9BABC">Description</td>
                <td><textarea name="description" th:placeholder="${phone.description}" rows="4" cols="60" required></textarea></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td width="20%" style="background-color: #B9BABC">Image</td>
                <td><input type="file" name="images" multiple></td>
            </tr>
            <tr>
                <td style="background-color: #B9BABC"><input type="submit" value="Xác nhận" style="background-color: #00A4E4"></td>
                <td><input type="hidden" name="id" th:value="${phone.id}"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>