<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../static/css/slick.css" th:href="@{/css/slick.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/slick-theme.css" th:href="@{/css/slick-theme.css}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../static/css/nouislider.min.css" th:href="@{/css/nouislider.min.css}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}"/>
    <script th:src="@{//code.jquery.com/jquery-1.11.1.min.js}"></script>
    <title>Admin page</title>
</head>
<body>
<!-- TOP HEADER -->
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-envelope-o"></i> estore@gmail.com</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> 263 Giải Phóng</a></li>
        </ul>
        <ul class="header-links pull-right">
            <li><a data-toggle="modal" onclick="openLoginModal();"><i class="fa fa-user-o"></i><th:block th:text="${#request.userPrincipal.name}"></th:block></a></li>
            <li>
                <form th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-link" style="color: white">Đăng xuất</button>
                </form>
            </li>
        </ul>
    </div>
</div>
<!-- /TOP HEADER -->

<!-- MAIN HEADER -->
<div id="header">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- LOGO -->
            <div class="col-md-3">
                <div class="header-logo">
                    <a th:href="@{/}" class="logo">
                        <img th:src="@{/image/logo2.png}" alt="">
                    </a>
                </div>
            </div>
            <!-- /LOGO -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a th:href="@{/admin/qly-dienthoai}">Sản phẩm</a></li>
                <li class="active"><a th:href="@{/admin/qly-khachhang}">Khách hàng</a></li>
                <li><a th:href="@{/admin/qly-donhang}">Đơn hàng</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<div align="center">
    <table  border="1" class="table table-striped custab" style="width:80%">
        <thead>
        <tr>
            <th width="20%">Fullname</th>
            <th width="10%">Username</th>
            <th width="20%">Email</th>
            <th width="30%">Address</th>
            <th width="20%">Role</th>
        </tr>
        </thead>
        <th:block th:each="user: ${userPage}">
            <tr>
                <td th:text="${user.name}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.getAddress()}"></td>
                <td th:text="${user.role}"></td>
<!--                <td><a th:href="@{edit/{id}/user(id=${user.id})}" class="btn btn-info">Edit</a></td>-->
<!--                <td><a th:href="@{delete/{id}/user(id=${user.id})}" class="btn btn-info">Delete</a></td>-->
            </tr>
        </th:block>
    </table>
</div>
<div class="center">
    <div class="pagination">
        <th:block th:each="page:${pageNumbers}">
            <a th:href="@{/admin/qly-khachhang(size=${userPage.size},page=${page})}" th:text="${page}" th:class="${page==userPage.number+1} ? active"></a>
        </th:block>
    </div>
</div>
</body>
</html>