<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../static/css/slick.css" th:href="@{/css/slick.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/slick-theme.css" th:href="@{/css/slick-theme.css}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../static/css/nouislider.min.css" th:href="@{/css/nouislider.min.css}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}"/>
    <script th:src="@{//code.jquery.com/jquery-1.11.1.min.js}"></script>
    <style>

    </style>
    <title>Admin page</title>
</head>
<body>
<!-- TOP HEADER -->
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-envelope-o"></i> estore@gmail.com</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> 263 Giải Phóng</a></li>
        </ul>
        <ul class="header-links pull-right">
            <li><a data-toggle="modal" onclick="openLoginModal();"><i class="fa fa-user-o"></i><th:block th:text="${#request.userPrincipal.name}"></th:block></a></li>
            <li>
                <form th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-link" style="color: white">Đăng xuất</button>
                </form>
            </li>
        </ul>
    </div>
</div>
<!-- /TOP HEADER -->

<!-- MAIN HEADER -->
<div id="header">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- LOGO -->
            <div class="col-md-3">
                <div class="header-logo">
                    <a th:href="@{/}" class="logo">
                        <img th:src="@{/image/logo2.png}" alt="">
                    </a>
                </div>
            </div>
            <!-- /LOGO -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
<!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a th:href="@{/admin/qly-dienthoai}">Sản phẩm</a></li>
                <li><a th:href="@{/admin/qly-khachhang}">Khách hàng</a></li>
                <li class="active"><a th:href="@{/admin/qly-donhang}">Đơn hàng</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<div align="center">
<!--    <form th:action="@{/manageOrders}" method="post">-->
        <table  border="1" class="table table-striped custab" style="width:90%">
            <thead>
            <tr>
                <th width="5%">Id</th>
                <th width="10%">Khách hàng</th>
                <th width="10%">Số điện thoại</th>
                <th width="15%">Địa chỉ</th>
                <th width="15%">Thời gian đặt hàng</th>
                <th width="15">Tổng tiền</th>
                <th width="10%">Loại thanh toán</th>
                <th width="10%">Trạng thái</th>
                <th width="10%">Xác nhận</th>
            </tr>
            </thead>
            <tbody>
                <th:block th:each="donHang: ${orderPage}">
                    <tr>
                        <td th:text="${donHang.id}"></td>
                        <td th:text="${donHang.cus}"></td>
                        <td th:text="${donHang.sdt}"></td>
                        <td th:text="${donHang.address}"></td>
                        <td th:text="${donHang.dateGen}"></td>
                        <td th:text="${donHang.amount}+' VNĐ'"></td>
                        <td th:text="${donHang.payment}"></td>
                        <td>
                            <th:block th:if="${donHang.status} eq 0">
                                <p style="background-color: #6E83CD">Chưa giao hàng</p>
                            </th:block>
                            <th:block th:if="${donHang.status} eq 1">
                                <p style="background-color: #4cae4c">Đã giao hàng</p>
                            </th:block>
                        </td>
                        <td>
                            <a class="btn btn-info" style="background-color: #00A4E4" th:href="@{/admin/qly-donhang/{id}(id=${donHang.id})}" onclick="return confirm('Are you sure to confirm this order?')">Xác nhận đơn hàng</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
<!--    </form>-->
</div>
<div class="center">
    <div class="pagination">
        <th:block th:each="page:${pageNumbers}">
            <a th:href="@{/admin/qly-donhang(size=${orderPage.size},page=${page})}" th:text="${page}" th:class="${page==orderPage.number + 1} ? active"></a>
        </th:block>
    </div>
</div>
</body>
</html>