<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>EbeeStore</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../static/css/slick.css" th:href="@{/css/slick.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/slick-theme.css" th:href="@{/css/slick-theme.css}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../static/css/nouislider.min.css" th:href="@{/css/nouislider.min.css}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
    <!--    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <!-- ![endif]-->
    <link type="text/css" href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <link type="text/css" href="../static/css/login-register.css" rel="stylesheet" th:href="@{/css/login-register.css}"/>
    <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

</head>
<body>
<!--Login box-->
<div class="container">
    <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Đăng nhập với with</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="social">
                                <a id="google_login" class="circle google" th:href="@{/}">
                                    <i class="fa fa-google-plus fa-fw"></i>
                                </a>
                                <a id="facebook_login" class="circle facebook" th:href="@{/}">
                                    <i class="fa fa-facebook fa-fw"></i>
                                </a>
                            </div>
                            <div class="division">
                                <div class="line l"></div>
                                <span>or</span>
                                <div class="line r"></div>
                            </div>
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form method="POST" th:action="@{/homepage}" accept-charset="UTF-8">
                                    <input class="form-control" type="text" placeholder="Tên đăng nhập" name="username">
                                    <input class="form-control" type="password" placeholder="Mật khẩu" name="password">
                                    Remember Me:
                                    <input type="checkbox" name="remember-me" />
                                    <input class="btn btn-default btn-login" type="submit" value="Login">
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                            <div class="form">
                                <form method="POST" th:action="@{/register}" accept-charset="UTF-8">
                                    <input class="form-control" type="text" placeholder="Tên đăng nhập" th:name="username">
                                    <input class="form-control" type="password" placeholder="Mật khẩu" th:name="password">
                                    <input class="form-control" type="text" placeholder="Họ và tên" name="fullname">
                                    <input id="email" class="form-control" type="text" placeholder="Email" th:name="email">
                                    <input class="form-control" type="text" placeholder="Số điện thoại" th:name="sdt">
                                    <input class="form-control" type="text" placeholder="Địa chỉ" th:name="address">
                                    <input class="btn btn-default btn-register" type="submit" value="Đăng ký" name="commit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
	                            <span>
	                                 <a href="javascript: showRegisterForm();">Tạo tài khoản mới</a>
	                            ?</span>
                    </div>
                    <div class="forgot register-footer" style="display:none">
                        <span>Bạn đã có tài khoản chưa?</span>
                        <a href="javascript: showLoginForm();">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Login box-->

<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-envelope-o"></i> estore@gmail.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 263 Giải Phóng</a></li>
            </ul>
            <ul class="header-links pull-right">
                <th:block th:if="${#request.userPrincipal != null}">
                    <li><a data-toggle="modal" onclick="openLoginModal();"><i class="fa fa-user-o"></i><th:block th:text="${#request.userPrincipal.name}"></th:block></a></li>
                    <li>
                        <form th:action="@{/logout}" method="POST">
                            <button type="submit" class="btn btn-link" style="color: white">Đăng xuất</button>
                        </form>
                    </li>
                </th:block>
                <th:block th:if="${#request.userPrincipal == null}">
                    <li><a data-toggle="modal" onclick="openLoginModal();"><i class="fa fa-user-o"></i>Login</a></li>
                </th:block>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a th:href="@{/homepage}" class="logo">
                            <img th:src="@{/image/logo2.png}" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form th:action="@{/product/search}" method="get">
                            <input class="input" th:name="phone_name" placeholder="Nhập tên sản phẩm">
                            <button class="search-btn">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Cart-->
                        <th:block th:if="${#request.userPrincipal != null}">
                            <div class="dropdown">
                                <a th:href="@{/{user}/cart(user=${#request.userPrincipal.name})}">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>
<!--                                    <div class="qty"><th:block th:text="${qty}"></th:block></div>-->
                                </a>
                            </div>
                        </th:block>
                        <th:block th:if="${#request.userPrincipal == null}">
                            <div class="dropdown">
                                <a th:href="@{/anonymous/cart}">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>
                                </a>
                            </div>
                        </th:block>
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a th:href="@{/}">Trang chủ</a></li>
                <li class="active"><a th:href="@{/product(sort=0)}">Sản phẩm</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<!-- /NAVIGATION -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a th:href="@{/}">Trang chủ</a></li>
                    <li class="active"><a th:href="@{/product(sort=0)}">Sản phẩm</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Hãng sản xuất</h3>
                    <th:block th:each="search:${searchByProducers}">
                    <div class="checkbox-filter">
                        <div class="input-checkbox">
                            <a th:href="@{/product/{producer}(producer=${search.getKey()})}">
                                <span></span>
                                <th:block th:text="${search.getKey()}"></th:block>
                                <small>(<th:block th:text="${search.getValue()}"></th:block>)</small>
                            </a>
                        </div>
                    </div>
                    </th:block>
                </div>
                <div class="aside">
                    <h3 class="aside-title">Giá</h3>
                    <div class="checkbox-filter">
                        <div class="input-checkbox">
                            <a th:href="@{/product/duoi-2-trieu}">
                                <span></span>
                                Dưới 2 triệu
                            </a>
                        </div>
                    </div>
                    <div class="checkbox-filter">
                        <div class="input-checkbox">
                            <a th:href="@{/product/tu-2-5-trieu}">
                                <span></span>
                                Từ 2 - 5 triệu
                            </a>
                        </div>
                    </div>
                    <div class="checkbox-filter">
                        <div class="input-checkbox">
                            <a th:href="@{/product/tu-5-10-trieu}">
                                <span></span>
                                Từ 5- 10 triệu
                            </a>
                        </div>
                    </div>
                    <div class="checkbox-filter">
                        <div class="input-checkbox">
                            <a th:href="@{/product/tren-10-trieu}">
                                <span></span>
                                Trên 10 triệu
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->

            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sắp xếp theo:
                            <th:block th:switch="${key}? ${key} :${false}">
                                <th:block th:case="${key}">
                                    <th:block th:if="${key} eq 'search'">
                                        <th:block th:if="${order_sort} eq 0">
                                            <select class="input-select" onchange="location = this.value;">
                                                <option th:value="${key}+'?phone_name='+${pName}+'&sort=0'" selected>Giá cao đến thấp</option>
                                                <option th:value="${key}+'?phone_name='+${pName}+'&sort=1'">Giá thấp đến cao</option>
                                            </select>
                                        </th:block>
                                        <th:block th:if="${order_sort eq 1}">
                                            <select class="input-select" onchange="location = this.value;">
                                                <option th:value="${key}+'?phone_name='+${pName}+'&sort=0'">Giá cao đến thấp</option>
                                                <option th:value="${key}+'?phone_name='+${pName}+'&sort=1'" selected>Giá thấp đến cao</option>
                                            </select>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${key} != 'search'">
                                        <th:block th:if="${order_sort} eq 0">
                                            <select class="input-select" onchange="location = this.value;">
                                                <option th:value="${key}+'?sort=0'" selected>Giá cao đến thấp</option>
                                                <option th:value="${key}+'?sort=1'">Giá thấp đến cao</option>
                                            </select>
                                        </th:block>
                                        <th:block th:if="${order_sort eq 1}">
                                            <select class="input-select" onchange="location = this.value;">
                                                <option th:value="${key}+'?sort=0'">Giá cao đến thấp</option>
                                                <option th:value="${key}+'?sort=1'" selected>Giá thấp đến cao</option>
                                            </select>
                                        </th:block>
                                    </th:block>
                                </th:block>
                                <th:block th:case="${false}">
                                    <th:block th:if="${order_sort} eq 0">
                                        <select class="input-select" onchange="location = this.value;">
                                            <option value="product?sort=0" selected>Giá cao đến thấp</option>
                                            <option value="product?sort=1">Giá thấp đến cao</option>
                                        </select>
                                    </th:block>
                                    <th:block th:if="${order_sort eq 1}">
                                        <select class="input-select" onchange="location = this.value;">
                                            <option value="product?sort=0">Giá cao đến thấp</option>
                                            <option value="product?sort=1" selected>Giá thấp đến cao</option>
                                        </select>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </label>
                    </div>
                </div>
                <!-- /store top filter -->

                <!-- store products -->
                <div class="row">
                    <th:block th:each="phone:${phonePage}">
                        <div class="col-md-4 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    <img th:src="@{${phone.getImages().get(0).url}}" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category" th:text="${phone.getProducer().name}"></p>
                                    <h3 class="product-name" th:text="${phone.name}"><a href="#"></a></h3>
                                    <h4 class="product-price" th:text="${phone.price}"> </h4>
                                    <form th:action="@{/product/{name}(name=${phone.name})}" method="post">
                                        <div class="product-btns">
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">xem chi tiết</span></button>
                                        </div>
                                    </form>
                                </div>
                                <th:block th:if="${#request.userPrincipal != null}">
                                    <form th:action="@{/{user}/cart(user=${#request.userPrincipal.name})}" th:method="post">
                                        <input type="hidden" name="phone" th:value="${phone.id}">
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> thêm vào giỏ hàng</button>
                                        </div>
                                    </form>
                                </th:block>
                                <th:block th:if="${#request.userPrincipal == null}">
                                    <form th:action="@{/anonymous/cart}" method="post">
                                        <input type="hidden" name="phone" th:value="${phone.id}" th:method="post">
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> thêm vào giỏ hàng</button>
                                        </div>
                                    </form>
                                </th:block>
                            </div>
                        </div>
                    </th:block>
                </div>
                <!-- /store products -->

                <!-- store bottom filter -->
                <div class="center">
                    <div class="pagination">
                        <th:block th:if="${order_sort} eq 0">
                            <th:block th:each="pageNumber : ${pageNumbers}">
                                <a th:href="@{/product(size=${phonePage.size}, page=${pageNumber},sort=0)}"
                                   th:text="${pageNumber}" th:class="${pageNumber==phonePage.number + 1} ? active"></a>
                            </th:block>
                        </th:block>
                        <th:block th:if="${order_sort} eq 1">
                            <th:block th:each="pageNumber : ${pageNumbers}">
                                <a th:href="@{/product(size=${phonePage.size}, page=${pageNumber},sort=1)}"
                                   th:text="${pageNumber}" th:class="${pageNumber==phonePage.number + 1} ? active"></a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->



<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3>

                        <ul class="footer-links">
                            <li><i class="fa fa-map-marker"></i>263 Giải Phóng</li>
                            <li><i class="fa fa-phone"></i>033654888</li>
                            <li><i class="fa fa-envelope-o"></i>estore@gmail.com</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categories</h3>
                        <ul class="footer-links">
                            <li><a href="#">Smartphone</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Service</h3>
                        <ul class="footer-links">
                            <li><a href="#">Trợ giúp</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.facebook.com/lovidaminion" target="_blank" style="color: green">Ngoc Quy</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/nouislider.min.js}"></script>
<script th:src="@{/js/jquery.zoom.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js/jquery-1.10.2.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/login-register.js}"></script>
</body>
</html>
